<!DOCTYPE HTML>
<html>
    <head>
        <title>%s</title>
        <link rel="stylesheet" href="assets/style.css">
        <link rel="stylesheet" href="lib/dtk/dijit/themes/claro/claro.css">
        <link rel="stylesheet" href="templates/mapguide/claro/style.css">
        <script type="text/javascript">

            dojoConfig = {
                async: true,
                parseOnLoad: true,
                debugAtAllCosts: true,
                baseUrl: "lib",
                packages: [
                    { name: "dojo", location: "dtk/dojo" },
                    { name: "dijit", location: "dtk/dijit" },
                    { name: "dojox", location: "dtk/dojox" },
                    { name: "fusion", location: "fusion" },
                    { name: "widgets", location: "widgets" },
                    { name: "openlayers", location: "openlayers" },
                    { name: "proj4js", location: "proj4js" },
                    { name: "urijs", location: "urijs" }
                ]
            };

        </script>
        <script type="text/javascript" src="lib/dtk/dojo/dojo.js"></script>
        <script>
            var appDef = %s;

            require([
                "dojo/ready",
                "dojo/parser", 
                "dijit/layout/ContentPane", 
                "dijit/layout/BorderContainer", 
                "dijit/layout/TabContainer", 
                "dijit/layout/AccordionContainer", 
                "dijit/layout/AccordionPane",
                "dijit/Toolbar",
                "dojo/topic",
                "fusion/core",
                "dijit/Dialog"
            ], function() {
                var ready = arguments[0];
                var topic = arguments[8];
                var Fusion = arguments[9];
                ready(function() {
                    topic.subscribe(Fusion.Events.FUSION_INITIALIZED, onFusionInitialized);
                    topic.subscribe(Fusion.Events.FUSION_ERROR, onFusionError);
                    Fusion.initialize({ appDef: appDef, sessionID: '%s' });
                });
            });

            var errorDialog = null;

            function onFusionInitialized() {
                console.log("Fusion initialized");
            }

            function onFusionError(error) {
                var msg = "";
                if (error.response) { //Rejected promise on an XHR request
                    if (error.response.text) {
                        if (error.response.url) {
                            msg += "Error making request to URL: " + error.response.url;
                        }
                        msg += "<br/><br/>" + error.response.text;
                    }
                } else {
                    msg = error.stack || error.message || error;
                    msg = msg.replace("\r\n", "<br/>").replace("\n", "<br/>");
                }
                if (msg.length > 0) {
                    var content = "<div class='fusionErrorDialog'><pre>";
                    content += msg;
                    content += "</pre></div>";

                    var Dialog = require("dijit/Dialog"); //This was pre-loaded in the above require() call, so it's safe to do this here
                    errorDialog = new Dialog({
                        title: "Fusion Error",
                        content: content
                    });
                    errorDialog.show();
                } else {
                    console.error(error);
                }
            }

            function showOverviewMap() {
                alert("Show overview map");
            }

            function showTaskPane() {
                require(["dojo/query", "dijit/registry", "dojo/NodeList-traverse"], function() {
                    var query = arguments[0];
                    var registry = arguments[1];
                    var domCnt = registry.byNode(query("#TaskPane").parent()[0]);
                    var sidebar = registry.byId("Sidebar");
                    sidebar.selectChild(domCnt);
                });
            }

            function showLegend() {
                require(["dojo/query", "dijit/registry", "dojo/NodeList-traverse"], function() {
                    var query = arguments[0];
                    var registry = arguments[1];
                    var domCnt = registry.byNode(query("#Legend").parent()[0]);
                    var sidebar = registry.byId("Sidebar");
                    sidebar.selectChild(domCnt);
                });
            }

            function showSelectionPanel() {
                require(["dojo/query", "dijit/registry", "dojo/NodeList-traverse"], function() {
                    var query = arguments[0];
                    var registry = arguments[1];
                    var domCnt = registry.byNode(query("#SelectionPanel").parent()[0]);
                    var sidebar = registry.byId("Sidebar");
                    sidebar.selectChild(domCnt);
                });
            }

        </script>
    </head>
    <body class="claro">
        <div id="AppContainer" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false, liveSplitters:false">
            <div id="Sidebar" data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props="minSize:20, region:'leading', splitter:true" style="width: 300px;">
                <div class="accordion-panel" data-dojo-type="dijit/layout/AccordionPane" title="Legend">
                    <div id="Legend">
                    </div>
                </div>
                <div class="accordion-panel" data-dojo-type="dijit/layout/AccordionPane" title="Selection">
                    <div id="SelectionPanel">
                    </div>
                </div>
                <div class="accordion-panel" data-dojo-type="dijit/layout/AccordionPane" title="Task Pane">
                    <div id="TaskPane">
                    </div>
                </div>
            </div><!-- end AccordionContainer -->
            <div id="Main" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="region:'center', splitter:false, gutters: false">
                <div id="FileMenu" data-dojo-type="dijit/Toolbar" data-dojo-props="region: 'top', splitter: false">
                </div>
                <div id="Toolbar" data-dojo-type="dijit/Toolbar" data-dojo-props="region: 'top', splitter: false">
                </div>
                <div id="ToolbarSecondary" data-dojo-type="dijit/Toolbar" data-dojo-props="region: 'top', splitter: false">
                </div>
                <div id="MapArea" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', splitter:false">
                    <div id="Map">
                        <div id="Navigator"></div>
                    </div>
                </div><!-- end Map -->
            </div><!-- end Main -->
            <div id="StatusArea" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="region:'bottom'">
                <div id="Statusbar" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'">
                </div>
                <div id="pbmg" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right'">
                    <img src="assets/pbmg.png" />
                </div>
            </div>
        </div><!-- end BorderContainer -->
    </body>
</html>