.fusion-icon { background-image: url('icons.png'); background-repeat: no-repeat; width: 16px; height: 16px }
.fusion-about { background-position: 0px 0px; }
.fusion-buffer { background-position: -16px 0px; }
.fusion-coordinate-tracker { background-position: -32px 0px; }
.fusion-edit-copy { background-position: -48px 0px; }
.fusion-edit-cut { background-position: -64px 0px; }
.fusion-edit-duplicate { background-position: -80px 0px; }
.fusion-edit-paste { background-position: -96px 0px; }
.fusion-edit-xml { background-position: -112px 0px; }
.fusion-error { background-position: -128px 0px; }
.fusion-feature-info { background-position: -144px 0px; }
.fusion-file-print { background-position: -160px 0px; }
.fusion-file-save { background-position: -176px 0px; }
.fusion-help { background-position: -192px 0px; }
.fusion-iconNavigator { background-position: -208px 0px; }
.fusion-info { background-position: -224px 0px; }
.fusion-initial-center { background-position: -240px 0px; }
.fusion-invoke-script { background-position: -256px 0px; }
.fusion-invoke-url { background-position: -272px 0px; }
.fusion-legend-DWF { background-position: -288px 0px; }
.fusion-legend-layer { background-position: -304px 0px; }
.fusion-legend-map { background-position: -320px 0px; }
.fusion-legend-raster { background-position: -336px 0px; }
.fusion-legend-theme { background-position: -352px 0px; }
.fusion-maptip { background-position: -368px 0px; }
.fusion-measure { background-position: -384px 0px; }
.fusion-options { background-position: -400px 0px; }
.fusion-out-of-range { background-position: -416px 0px; }
.fusion-overview-map { background-position: -432px 0px; }
.fusion-pan-east { background-position: -448px 0px; }
.fusion-pan-north { background-position: -464px 0px; }
.fusion-pan-south { background-position: -480px 0px; }
.fusion-pan-west { background-position: -496px 0px; }
.fusion-pan { background-position: -512px 0px; }
.fusion-preview { background-position: -528px 0px; }
.fusion-print { background-position: -544px 0px; }
.fusion-query { background-position: -560px 0px; }
.fusion-quick-plot { background-position: -576px 0px; }
.fusion-redline { background-position: -592px 0px; }
.fusion-search { background-position: -608px 0px; }
.fusion-select-centre { background-position: -624px 0px; }
.fusion-select-clear { background-position: -640px 0px; }
.fusion-select-features { background-position: -656px 0px; }
.fusion-select-polygon { background-position: -672px 0px; }
.fusion-select-radius { background-position: -688px 0px; }
.fusion-select-zoom { background-position: -704px 0px; }
.fusion-select { background-position: -720px 0px; }
.fusion-theme { background-position: -736px 0px; }
.fusion-view-back { background-position: -752px 0px; }
.fusion-view-forward { background-position: -768px 0px; }
.fusion-view-refresh { background-position: -784px 0px; }
.fusion-warning { background-position: -800px 0px; }
.fusion-zoom-dynamic { background-position: -816px 0px; }
.fusion-zoom-full { background-position: -832px 0px; }
.fusion-zoom-in-fixed { background-position: -848px 0px; }
.fusion-zoom-in { background-position: -864px 0px; }
.fusion-zoom-out-fixed { background-position: -880px 0px; }
